<h1><%= user_header(@user) %></h1>
<%= user_invite_form(@user) %>

<p>email: <%= @user.email %></p>

<%= render 'invites/user_invites', user: @user %>

<%= render 'events/user_hosted_events', user: @user %>

<h2>Upcoming events (<%= @attending_to.count  %>)</h2>
<% @attending_to.each do |event| %>
    <hr>
    <p><%= link_to event.title, event_path(event) %></p>
    <p><%= event.date.strftime("%d/%m/%Y") %> - <%= event.location %></p>
    <p><%= event.description %></p>
<% end %>

<h2>Previoulsy Attendented events (<%= @attended_to.count  %>)</h2>
<% @attended_to.each do |event| %>
    <hr>
    <p><%= link_to event.title, event_path(event) %></p>
    <p><%= event.date.strftime("%d/%m/%Y") %> - <%= event.location %></p>
    <p><%= event.description %></p>
<% end %>

<%= link_to 'Back', events_path %>
