<h1><%= @event.title %> - event page</h1>
<% if current_user_invited?(@event) %>
  <%= form_for :invites, url: "/invites/#{@event.invites.find_by(user_id: current_user.id, event_id: @event.id).id}", method: 'patch' do |f| %>
    <%= f.hidden_field :event_id, value: @event.id, name: "invite[event_id]" %>
    <%= f.hidden_field :user_id, value: current_user.id, name: "invite[user_id]" %>
    <%= f.submit 'Confirm your presence' %>
  <% end %>
<% elsif current_user_attending?(@event) %>
  <%= link_to 'Cancel presence', invite_path(@event.invites.find_by(user_id: current_user.id, event_id: @event.id).id), data: {:confirm => 'Are you sure?'}, :method => :delete %>
<% end %>
<% if @host == current_user %>
  <%= form_for :invites, url: '/invites' do |f| %>
    <%= f.hidden_field :event_id, value: @event.id, name: "invite[event_id]" %>
      <select name='invite[user_id]'>
        <% @users.each do |user| %>
          <option value=<%=user.id%>><%=user.name%></option>
        <% end %>
      </select>
    <%= f.submit 'Envite user to Event' %>
    <% end %>
<% else %>
  <p>Hosted by: <%= link_to @host.name, user_path(@host) %></p>
<% end %>
<p><%= @event.description %></p>
<p>Location: <%= @event.location %></p>
<p>Date: <%= @event.date&.strftime("%d/%m/%Y") %></p>

<% if @event.date&. < Time.current %>
  <h2><%= pluralize(confirmed_attendees(@event).count, 'users attended this event') %>:</h2>
  <% confirmed_attendees(event).each do |attendee| %>
    <hr>
  <p><%= link_to attendee.name, user_path(attendee) %></p>
  <% end %>
<% else %>
  <h2>Attending users(<%= confirmed_attendees(@event).count  %>)</h2>
  <% confirmed_attendees(@event).each do |attendee| %>
    <hr>
    <p><%= link_to attendee.name, user_path(attendee) %></p>
  <% end %>

<h2>Invited users(<%= invited_attendees(@event).count  %>)</h2>
  <% invited_attendees(@event).each do |attendee| %>
    <hr>
    <p><%= link_to attendee.name, user_path(attendee) %></p>
  <% end %>
<% end %>

<%= link_to 'Back', events_path %>
