<h1><%= @event.title %> - event page</h1>
<p>Hosted by: <%= link_to @host.name, user_path(@host) %></p>
<p><%= @event.description %></p>
<p>Location: <%= @event.location %></p>
<p>Date: <%= @event.date %></p>
<%= link_to 'Back', events_path %>